

.demo-toolbar{
    top:0;
    position: sticky;
    z-index: 10;
}

.demo-editor{
    margin-top: 10px;
    border-style: solid;
    border-width: thin;
    min-height: 80vh;
    font-size: 24px;
}
